# Nestjs specific
/dist
/node_modules
/build
/tmp
/coverage
/Documentation

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# dotenv environment variable files
.env
.env.development
.env.dev
.env.test
.env.production
.env.prod
.env.staging
.env.local

# temp directory
.temp
.tmp
